@model IEnumerable<WildLifeTracker.Models.Sighting>

@{
    ViewData["Title"] = "Sighting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Species List!</h2>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specie.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var listSighting in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelSighting => listSighting.Date)
            </td>
            <td>
                @Html.DisplayFor(modelSighting => listSighting.Specie.Name)
            </td>
        </tr>

    }

</table>

<p>@Html.ActionLink("Add new species", "Create")</p>






